<%=t 'wikipub.greeting' %>

<p><label><%=t 'wikipub.extraconf.label' %>: </label>
<%= text_area_tag 'settings[wikipub_extraconf]', @settings['wikipub_extraconf'], :size => '50x5' %><br />
<em><%=t 'wikipub.extraconf.description' %></em>
</p>
